.card-layout {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}

.card-title-bar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    padding: 5px;
}

.card-title {
     color: white;
     font-size: 20px;
}

.card-list {
    width: 80vw;
    text-align: left;
}

.card-button {
    width: 40px;
}

.card-item {
    background-color: #F0EEEE;
    padding: 5px;
    border-radius: 4px;
    justify-content: left;
}