.homepage-container {
  padding-top: 115px;
  background-image: linear-gradient(#d0b68f,#30445c);
}

.progress-bar {
  background-color: #30445C;
  margin: 10px auto;
  margin-top: 0px;
  padding-top: 10px;
}

.homepage {
  color: white;
  display:flex;
  max-width: 80%;
  justify-content: space-around;
  margin: 0 auto;
  height: 100vh;
  padding: 10px auto;
}

.boards-container {
  display:grid;
  height: 30vh;
}

.board {
  border: 3px solid #30445C;
  border-radius: 2.5%;
  margin: 20px auto;
}

.calendar {
  border: 3px solid #30445C;
  border-radius: 2.5%;
  margin: 5px auto;
}
