.dropdown-menu {
  list-style: none;
}

.dropdown-menu li:hover {
  background: #d0b68f;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}
