.options {
  background-color: #30445c;
  /* height: 100vh; */
  /* padding-top: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  align-items: center;
  background-color: #30445c;
  padding-right: 40px;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  border: solid 1px #d0b68f;
  background-color: #d0b68f;
  padding: 3px;
  border-radius: 3px;
}
