.savings-layout {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}

.savings-title-bar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80vw;
    padding: 5px;
}

.savings-title {
     color: white;
}

.savings-list {
    width: 80vw;
    text-align: left;
}

.savings-button {
    border-radius: 4px;
}

.savings-item {
    background-color: #F0EEEE;
    padding: 5px;
    border-radius: 4px;
    justify-content: left;
}